.menu {
    color: set-text-color($secondary-color);
    text-align: center;
}

.menu a {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
}

.menu a:hover {
    color: $primary-color;
}

.menu li {
    display: inline;
}